body {
    background-color: #efefef !important;
}

main {
    margin: 0 auto;
    max-width: 960px;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

#resultImage img {
    max-width: 100%;
}